<h1 class="text-center font-bold py-2 text-gray-700">¿No puedes iniciar sesión?</h1>

@if (emailSent) {
  <div class="flex justify-center py-4">
    <img
      loading="lazy"
      class="w-40"
      src="/assets/svg/check-email.svg"
      alt="logo"
    />
  </div>
  <p>Le enviamos un enlace de recuperación a</p>
  <p class="font-bold">{{ form.controls.email.value }}</p>
} @else {
  <form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="sendLink()">
    <div>
      <div class="relative">
        <label for="email" class="block text-xs font-semibold my-2"
          >Le enviaremos un enlace de recuperación a</label
        >
        <input
          #nameInput
          formControlName="email"
          placeholder="Enter email"
          type="email"
          name="email"
          autocomplete="off"
          class="w-full rounded bg-gray-100 border-gray-300 border-2"
          [class.border-red-500]="form.controls.email.touched && form.controls.email.invalid"
        />
      </div>
      @if (form.controls.email.touched && form.controls.email.invalid) {
        @if (form.controls.email.hasError('required')) {
          <p class="font-medium text-red-500 text-xs mt-1 ml-1">
            Este campo es obligatorio
          </p>
        }
        @if (form.controls.email.hasError('email')) {
          <p class="font-medium text-red-500 text-xs mt-1 ml-1">
            Este campo debe ser un correo electrónico
          </p>
        }
      }
    </div>
    <div>
      <app-btn
        typeBtn="submit"
        color="success"
        [loading]="status === 'loading'"
        >Enviar enlace de recuperación</app-btn
      >
    </div>
  </form>
}
