@if (!showRegister) {
  <div>
    <h1 class="text-center font-bold py-2 text-gray-700">Introduce tus datos</h1>
    <form [formGroup]="formUser" novalidate class="space-y-4" (ngSubmit)="validateUser()">
      <div>
        <div class="relative">
          <input
            formControlName="email"
            placeholder="Enter email"
            type="email"
            name="email"
            autocomplete="off"
            class="w-full rounded bg-gray-100 border-gray-300 border-2 text-gray-900 placeholder-gray-500 focus:border-imevi-main focus:ring-imevi-main"
          />
        </div>
        @if (formUser.controls.email.touched && formUser.controls.email.invalid) {
          @if (formUser.controls.email.hasError('required')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo es obligatorio
            </p>
          }
          @if (formUser.controls.email.hasError('email')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo debe ser un correo electrónico
            </p>
          }
        }
      </div>
      <div>
        <app-btn typeBtn="submit" color="primary" [loading]="statusUser === 'loading'">Continuar</app-btn>
      </div>
    </form>
  </div>
} @else {
  <div>
    <h1 class="text-center font-bold py-2 text-gray-700">Enter your data</h1>
    <form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="register()">
      <div>
        <div class="relative">
          <input
            formControlName="name"
            placeholder="Enter your name"
            type="text"
            name="name"
            class="w-full rounded bg-gray-100 border-gray-300 border-2 text-gray-900 placeholder-gray-500 focus:border-imevi-main focus:ring-imevi-main"
          />
        </div>
        @if (form.controls.name.touched && form.controls.name.invalid) {
          @if (serverErrors['name']) {
            <div class="font-medium text-red-500 text-xs mt-1 ml-1">
              {{ serverErrors['name'] }}
            </div>
          }
          @if (form.controls.name.hasError('required')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo es obligatorio
            </p>
          }
        }
      </div>
      <div>
        <div class="relative">
          <input
            #nameInput
            formControlName="email"
            placeholder="Enter email"
            type="email"
            name="email"
            autocomplete="off"
            class="w-full rounded bg-gray-100 border-gray-300 border-2 text-gray-900 placeholder-gray-500 focus:border-imevi-main focus:ring-imevi-main"
          />
        </div>
        @if (form.controls.email.touched && form.controls.email.invalid) {
          @if (serverErrors['email']) {
            <div class="font-medium text-red-500 text-xs mt-1 ml-1">
              {{ serverErrors['email'] }}
            </div>
          }
          @if (form.controls.email.hasError('required')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo es obligatorio
            </p>
          }
          @if (form.controls.email.hasError('email')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo debe ser un correo electrónico
            </p>
          }
        }
      </div>
      <div>
        <div class="relative">
          <input
            formControlName="password"
            placeholder="Enter password"
            [type]="showPassword ? 'text' : 'password'"
            class="w-full rounded bg-gray-100 border-gray-300 border-2 text-gray-900 placeholder-gray-500 focus:border-imevi-main focus:ring-imevi-main"
          />
          <button
            type="button"
            class="p-2 absolute right-2"
            (click)="showPassword = !showPassword"
          >
            <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
          </button>
        </div>
        @if (form.controls.password.touched && form.controls.password.invalid) {
          @if (serverErrors['password']) {
            <div class="font-medium text-red-500 text-xs mt-1 ml-1">
              {{ serverErrors['password'] }}
            </div>
          }
          @if (form.controls.password.hasError('required')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo es obligatorio
            </p>
          }
          @if (form.controls.password.hasError('minlength')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo debe tener más de 8 caracteres
            </p>
          }
        }
      </div>
      <div>
        <div class="relative">
          <input
            formControlName="confirmPassword"
            placeholder="Confirm password"
            type="password"
            class="w-full rounded bg-gray-100 border-gray-300 border-2 text-gray-900 placeholder-gray-500 focus:border-imevi-main focus:ring-imevi-main"
          />
        </div>
        @if (form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid) {
          @if (form.controls.confirmPassword.hasError('required')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo es obligatorio
            </p>
          }
          @if (form.controls.confirmPassword.hasError('minlength')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo debe tener más de 8 caracteres
            </p>
          }
        }
      </div>
      @if (form.controls.confirmPassword.touched) {
        @if (form.hasError('mismatch')) {
          <p class="font-medium text-red-500 text-xs mt-1 ml-1">
            Deben ser las contraseñas no son las mismas
          </p>
        }
      }
      <div>
        <app-btn typeBtn="submit" color="primary" [loading]="status === 'loading'">Registrar</app-btn>
      </div>
    </form>
  </div>
}